<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../../../favicon.ico">
    </head>
    <body>
      <div class="container-fluid">
        <div class="row">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <!--<div class="col-sm-3 col-md-2 placeholder">-->
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Student Name</h4>
              
      
            <!--<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">-->
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Alerts and Messages<span class="sr-only">(current)</span></a>
                </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Students</a>
               </li>
              </ul>
            </nav>
            <!--Subjects-->
  
  
            <div class="col-sm-10 offset-sm-2 text-center">
              <h5>Subjects</h5>
              <div class="panel-body">
  
                <h4>In Progress</h4>
                <div class="panel-section">
                    <a href="http://localhost:4200/student-work">Math Diagnostic Test</a>
                </div>
              </div>
  
              <div class="panel-body">
                <h4>Mathematics</h4>
                <div class="panel-section">
                  <h1>Math Diagnostic Test</h1>
                  <h1>Number Sense Test #1</h1>
                  <h1>Number Sense Test #2</h1>
                </div>
              </div>
  
              <div class="panel-body">
                <h4>Language Arts</h4>
                <div class="panel-section">
                  <h1>
                    None available at this time.
                  </h1>
                </div>
              </div>
  
            </div>
          </div>
         </div> 
      </body>
    </html>
  
    