<div class="page-container">
  <!-- <div class="nav"> -->
  <!-- </div>end of nav -->
  <div class="quiz-container">
      <div id="quiz"></div>
      <button id="submit">Check My Answers</button>
      <div class="game-contain">
          <div id="one" class="container"></div>
          <div class="counters">
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
              <div class="apple"></div>
          </div>
          <div id="two" class="container"></div>
      </div>
  </div><!--end of quiz container-->
</div><!--end of container-->