<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    
    <title>Iris - Quiz</title>
</head>
<body>
    <div class="page-container">
        <!-- <div class="nav"> -->
        <!-- </div>end of nav -->
        <div class="quiz-container">
            <div id="quiz"></div>
            <button id="submit">Check My Answers</button>
            <div class="game-contain">
                <div id="one" class="container"></div>
                <div class="counters">
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                    <div class="apple"></div>
                </div>
                <div id="two" class="container"></div>
            </div>
        </div><!--end of quiz container-->
    </div><!--end of container-->
    <script type="text/javascript" src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
</body>
</html>