  <div class="container-fluid">
    <div class="container">
      <img class="login-img" src="../../assets/img/logo_white_text.png">
      <!-- Login Form Start -->
      <form (submit)="onLoginSubmit()">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
        </div>
        <div class="btn-label text-center">
          <input type="submit" class="btn btn-primary btn-light text-uppercase" value="Login">
        </div>
        <div class="row text-center">
          <!-- This link should be updated before release -->
          <a href="http://localhost:4200/new-account" id="#" class="create-acc">Create New Account</a>          
        </div>
      </form>
      <!-- Login Form End -->
    </div>
  </div>