/* Image Start */
.login-img {
    padding-top: 5%;
    max-width: 20%;
    max-height: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: 'Brandon Grotesque';
}
/* Image End */

/* Login Form Start */
.form-control {
    margin: 0 auto 2% auto;
}

.form-group {
    max-width: 80%;
    font-family: 'Brandon Grotesque';
    margin: 0 auto;
}

.form-group .text-center {
    margin: 0;
}

label {
    color: white;
    margin: 0;
}

.btn-label {
    color: #69D3D6;
    text-decoration: none !important;
    font-family: 'Brandon Grotesque';
}

.create-acc {
    margin: 0 auto;
    color: white;
    text-decoration: none !important;
    font-family: 'Brandon Grotesque';
}

input.btn {
    margin: 2% 0;
    cursor: pointer;
}
/* Login Form End */