<body>
  <div class="container-fluid">
    <div class="container text-center img-responsive">
      <img class="login-img" src="../../assets/img/logo_white_text.png">
    </div>
      <!--<form class="form-input" action=""> 
        <div class="row">
          <input type="userName" class="form-control input-form" id="#" placeholder="Username">
        </div>
        <div class="row">
          <input type="userPassword" class="form-control input-form" id="#" placeholder="Password">
        </div>
        <div class="row">
          <input type="submit" class="btn btn-light btn-lg login-btn text-center" value="Submit">          
        </div>-->
        

    <form (submit)="onLoginSubmit()">
      <div class="form-group text-center">
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
      </div>
      <div class="form-group text-center">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>
      <div class="btn-label text-center">
        <input type="submit" class="btn btn-primary btn-light" value="Login">
      </div>
      <div class="row text-center">
        <a href="http://localhost:4200/new-account" id="#" class="create-acc">Create a New Account</a>          
      </div>
    </form>
  </div>
</body>