body {
    background-color: #69D3D6;    
    margin: 0;
    border: 0;

}

/***Login Img***/
.login-img {
    /* position: absolute; */
    padding-top: 5px;
    max-width: 20%;
    max-height: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: 'Brandon Grotesque';
}
/***End of login img***/


/***Inside form-input***/
.form-group {
    max-width: 330px;
    margin: 0 auto;
    font-family: 'Brandon Grotesque';
}

.input-form {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Brandon Grotesque';
}

.btn-label {
    margin: 2% auto;
    color: #69D3D6;
    text-decoration: none !important;
    font-family: 'Brandon Grotesque';
}


.create-acc {
    margin: 0 auto;
    color: white;
    text-decoration: none !important;
    font-family: 'Brandon Grotesque';
}
/***End of form-input--Complete**/