/*Universals*/




/***Side Bar***/
.row {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sidebar {
    background-color: #69D3D6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    font-family: 'Brandon Grotesque';
    padding: 20px;
}



/***End of Side Bar***/


h4 {
    font-size: 20px;
    padding: 10px;
    font-family: 'Brandon Grotesque';
}

h5 {
    font-size: 40px;
    padding: 10px;
    font-family: 'Brandon Grotesque';
}
h1 {
 
    font-family: 'Brandon Grotesque';
    font-size: 20px;
}

.panel-body {
    background-color: #69D3D6;
    padding: 10px;
    margin: 20px;
}

.panel-section {
    background-color: white;
    padding: 10px;
    margin: 20px;

}